baseURL = 'https://grace.lol/'
languageCode = 'en-us'
title = 'grace dot lol'
theme = "terminal"

[caches]
  [caches.images]
    dir = ':cacheDir/images'

[languages]
  [languages.en]
    languageName = "English"
    title = "grace.lol"

  [languages.en.params.logo]
    logoText = "grace.lol"
    logoHomeLink = "/"

[menu]
  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 1

  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 2

  [[menu.main]]
    identifier = "contact"
    name = "Contact"
    url = "/contact/"
    weight = 3
